header {
	font-family: Quicksand;
	width: 100%;
	height: 5%;
	background-color: #ffffff;
	border-bottom: 1px solid #d10606;
}
.title {
	color: #d10606;
	font-weight: bold;
	text-transform: uppercase;
	text-align: undefined;
	width: 10%;
	float: left;
	margin-top: 15px;
	margin-left: 25px;
	letter-spacing: 4px;
	}	
nav {
	float: right;
	width:50%;
	text-align:right;
	margin-right:25px;
	}
header nav {
	list-style:none;
	float:right;
	}	 
nav li {
	font-family:Raleway;
	float:left;
	color: #d10606
	font-size:14 px
	text-align:le;
	margin-right: 25px;
	letter-spacing: 2px;
}
li a{
	color: #d10606; 
}
li:hover a {
	color: #0000000:
} 
